
{{> head }}


    {{> navbar }}

    <div class="row" style="padding: 10px;position:relative;left:50px;top:10px;">

        <div class="col-md-8">
            <h1>Olympique Marsella</h1>
            <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorum veniam obcaecati dolore a nisi rem voluptatem, tenetur sint inventore dicta delectus iusto voluptas nostrum ipsam sapiente. Cum, in deleniti?</p>
            </blockquote>
            
        </div>

        
        <div class="col-md-4">
            <img src="assets/img/logo.png" alt="img-thumbnail"  >
        </div>
        
    </div>

{{> footer }}

    